File downloaded from redirected URL is not written to disk with name in Content-Disposition header

When a download a file and specify the `buildDir` as the destination, I'd expect the filename provided in the `Content-Disposition` header to be used when writing the file, instead of the filename at the end of the path component of the URL or having to specify my own filename.


Good idea! This could possibly be a breaking change though. There has to be a way to disable it if necessary (or rather opt-in than opt-out for those who upgrade from an earlier version).

I don't have time to implement this at the moment. I can do it in two or three weeks maybe. Pull requests are welcome.

Cheers,
Michel

Yeah, it would def change how things are done now. Maybe opt-in for the next minor release and opt-out for the next major release? That’s your call.

I’m in a similar position, but I’d probably not get around to it until early 2Q. You’re more likely to get it before I do, especially since our workaround is to simply reconstruct the predictable filename ourselves and use that as the destination file.

:beers:


I was thinking about how to implement this...

The server can return just anything in the "Content-Disposition" header. It may also change over time. So in your build script you can't rely on the filename to always be the same. I'm just wondering - how would you pass the filename returned by the server from the download task to subsequent tasks?

In addition how do you think the other task parameters such as "overwrite" or "onlyIfNewer" should work? The RFC [1] clearly states that the client should never overwrite files with a name returned in the "Content-Disposition" header (due to security concerns - this prevents you from accidentally overwriting important files). So the "overwrite" header is pretty much useless in this case. The "onlyIfNewer" flag will only work correctly if the destination file is known beforehand. Otherwise the current timestamp cannot be sent to the server in the request's "If-Modified-Since" header.

Please let me know what you think. IMHO this feature is not as simple to implement as it sounds in the first place :-) But maybe you have some helpful ideas.

Cheers,
Michel

[1] http://www.ietf.org/rfc/rfc1806.txt

> How would you pass the filename returned by the server from the download task to subsequent tasks?

I think Gradle handles this internally.

A snippet from the `build.gradle` where I'm using `gradle-download-task`:

```gradle
task unzipFrameworkArtifact(type: Copy, dependsOn: downloadFrameworkArtifact) {
  from zipTree(packageDest)
  into file("${buildDir}/framework")
}
distributions {
  main {
    contents {
      from(unzipFrameworkArtifact) {
        into "framework"
      }
      from("config") {
        into "config"
      }
    }
  }
}
ospackage {
  packageName = project.name
  version = project.version
  os = LINUX

  into "/opt/${packageName}"

  from(jar.outputs.files) {
    into 'lib'
  }
  from(configurations.runtime) {
    into 'lib'
  }
  from(unzipFrameworkArtifact) {
    into 'framework'
  }
  from('config') {
    into 'config'
  }
  from("${buildDir}/scripts") {
    into 'bin'
    fileMode = 0550
  }
}

```

Gradle seems to track the file(s) that are output in the `unzipFrameworkArtifact` task and makes them available as a part of the reference to `unzipFrameworkArtifact` in the `distributions.main.contents` block. `ospackage` seems to use it, too, directly referencing `jar.outputs.files`.

It could be that we're misusing `gradle-download-task` to grab a runtime dependency that is not available in a Maven/Ivy repo. It might be more appropriate for us to implement a custom dependency handler or find one that can pull from a Github Enterprise installation.

> So the "overwrite" header is pretty much useless in this case. 

Seems like it. Seems worth keeping, even if it enables the user to shoot themselves in the foot potentially if the target server does something unexpected.

> The "onlyIfNewer" flag will only work correctly if the destination file is known beforehand. Otherwise the current timestamp cannot be sent to the server in the request's "If-Modified-Since" header.

Maybe the `onlyIfNewer` flag could cause `gradle-download-task` to store in the `gradle` directory cache tags or last modified dates per URL it sees, and request only if the HEAD request returns something different. Or only overwrite if the header in the GET is different. Maybe track a map of URL -> (etag | timestamp). Keeping track of state external to the file sucks, but I think it might be necessary.

Neither is a simple change, definitely.

Same problem over here.

Solution 1:
Always use the "Content-Disposition" header when present.

Solution 2:
Add an attribute to label the filename.

Solution 3:
Add an attribute to use the "Content-Disposition" header.






I've been thinking about this for quite some time and finally came to a conclusion. If you look at section 7 of RFC6266 [1] and more specifically section 5 of RFC2183 [2], there are some serious security risks associated with the Content-Disposition header field. I particularly would like to quote the following from RFC2183:

> In general, the receiving MUA should not name or place the file such that it will get interpreted or executed without the user explicitly initiating the action.

as well as

> a receiving MUA must take care that the sender's suggested filename does not represent a hazard.

There are so many filenames that could cause hazard on the various file systems and operating systems. It is almost impossible to handle all cases automatically without asking the user. gradle-download-task should therefore not store a file on the hard disk with a name based on the Content-Disposition header unless the user has explicitly authorised it. However, since Gradle builds are highly automated and there typically is no user interaction, I decided to not add support for the Content-Disposition header to gradle-download-task. It's too risky IMHO.

In addition to the security risks there are a couple of other issues that we already discussed above.

Nevertheless, I added the possibility to set interceptors for requests and responses. With this new feature you can easily implement your own workaround as follows:

```gradle
task downloadFile(type: Download) {
    // temporary filename
    def destFileName = 'test.txt.tmp'

    src 'http://example.org/test.txt'
    dest new File(buildDir, destFileName)

    responseInterceptor { response, context ->
        // parse Content-Disposition header and get destination filename
        def header = response.getFirstHeader('Content-Disposition')
        destFileName = header.elements[0].getParameterByName('filename').value
    }

    doLast {
        // rename file after download
        dest.renameTo(new File(buildDir, destFileName))
    }
}
```

See the README for a description of the new property [3].

In order to test the feature you can apply the current snapshot of gradle-download-task:

```gradle
buildscript {
    repositories {
        jcenter()
        maven {
            url "https://oss.sonatype.org/content/repositories/snapshots/"
        }
    }
    dependencies {
        classpath 'de.undercouch:gradle-download-task:3.3.0-SNAPSHOT'
    }
}

apply plugin: 'de.undercouch.download'
```

I will release a new version soon.

I hope this helps. Let me know if you need anything else.

Cheers,
Michel

[1] https://tools.ietf.org/html/rfc6266#section-7
[2] https://tools.ietf.org/html/rfc2183#section-5
[3] https://github.com/michel-kraemer/gradle-download-task/blob/master/README.md#advanced

Thanks for this. We'll go about the change when we get a chance!